@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-width: 375px;
}


/* -----------------------------------------------------------------
跨浏览器滚动条隐藏 (Linter 警告是正常的，因为这些是非标准属性)
----------------------------------------------------------------- */

.no-scrollbar {
/* 警告 1: Firefox 的非标准属性 /
scrollbar-width: none;
/ 警告 2: IE 和 Edge 的私有前缀属性 */
-ms-overflow-style: none;

}

.no-scrollbar::-webkit-scrollbar {
/* 警告 3 & 4: Chrome/Safari/Opera 的非标准伪元素和属性 */
display: none;
}